In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('homework.csv')

In [3]:
housing.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [5]:
housing.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [ ]:
#Нет пустных значений, нет отрацительных, прям праздник

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.svm import  SVR

In [7]:
#Разделение данных на test (20%) и train (80%), сразу без колонки ID
X_train, X_test, y_train, y_test = train_test_split(housing.iloc[:,1:-1], housing['medv'], train_size = .8 )

In [8]:
# Приводим данные к одному масштабу
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(266, 13)
(67, 13)
(266,)
(67,)

In [ ]:
#import numpy as np
#from sklearn import preprocessing
#from sklearn import utils

In [ ]:
#y_train=np.ravel(y_train)
#y_test=np.ravel(y_test)

In [ ]:
#le = preprocessing.LabelEncoder()
#y_train = le.fit_transform(y_train)
#y_test = le.transform(y_test)

In [10]:
#Линейная регрессия
linear = LinearRegression()

In [11]:
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [13]:
score_train = linear.score(X_train, y_train)
print(score_train)

0.7123688760812186

In [14]:
score = linear.score(X_test, y_test)
print(score)

0.7707641496563253

In [15]:
y_pred=linear.predict(X_test)

In [16]:
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

24.13903344660203
0.7707641496563253
3.553574351679237

In [ ]:
#77 процентов вариативности y_test объяснены моделью.

In [17]:
#Epsilon-Support Vector Regression
clf = SVR(gamma='scale', C=1.0, epsilon=0.2)
clf.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [18]:
score_train = clf.score(X_train, y_train)
print(score_train)

0.5675451585802391

In [19]:
score = clf.score(X_test, y_test)
print(score)

0.5636905651653794

In [20]:
y_pred_clf=clf.predict(X_test)

In [21]:
print(mean_squared_error(y_test, y_pred_clf))
print(r2_score(y_test, y_pred_clf))
print(mean_absolute_error(y_test, y_pred_clf))

45.944332113633315
0.5636905651653794
4.034029755307389

In [ ]:
#56 процентов вариативности y_test объяснены моделью.

In [22]:
#DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor

In [23]:
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [24]:
score_train = regressor.score(X_train, y_train)
print(score_train)

1.0

In [25]:
score = regressor.score(X_test, y_test)
print(score)

0.8865808453394665

In [26]:
y_pred_regressor=regressor.predict(X_test)

In [30]:
print(mean_squared_error(y_test, y_pred_regressor))
print(r2_score(y_test, y_pred_regressor))
print(mean_absolute_error(y_test, y_pred_regressor))

11.943283582089549
0.8865808453394665
2.5611940298507463

In [29]:
#88 процента вариативности y_test объяснены моделью.

In [ ]:
#Модель, основанная на DecisionTreeRegressor луше остальных прогнозирует стоимость домов