Задание 1

In [2]:
import numpy as np

In [4]:
a=int(input())
x = np.arange(a+1)[::-1]#добавила +1, чтобы выводилось с того числа, которое ввели
x

10

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

Задание 2

In [40]:
b=int(input())

b_diag=np.diag(np.arange(b+1)[::-1])#добавила +1, чтобы выводилось с того числа, которое ввели
b_diag_sum = 0
for i in range(0, b):
   b_diag_sum += b_diag[i][i]
print(b_diag_sum)

3
6

Задание 3

In [42]:
import pandas as pd

In [45]:
ratings = pd.read_csv('ratings.csv')

In [46]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [49]:
filtered_ratings=ratings[(ratings['rating']==5)]

In [65]:
filtered_ratings['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

Задание 4

In [66]:
power=pd.read_csv('power.csv')

In [126]:
filtered_countries = power[ ((power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia'))&((power['category']==4)|(power['category']==12)|(power['category']==21))&((power['year']>=2005) & (power['year']<=2010))&(power['quantity']>=0)]

In [127]:
filtered_countries['quantity'].sum()

240580.0

Задание 5

In [128]:
from numpy import linalg

4x + 2y + z = 4

x + 3y = 12

5y + 4z = -3

In [129]:
l = np.array( [ [4, 2,1], [1, 3,0],[0,5,4] ] )
r = np.array( [4, 12,-3] )
linalg.solve(l, r)

array([ 0.46666667,  3.84444444, -5.55555556])

In [130]:
np.allclose( np.dot(l, linalg.solve(l, r)), r )

True