<a href="https://colab.research.google.com/github/Sashaalex7/Python_hw/blob/master/Tretyakova_FW_Big_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Загрузить данные в pandas

In [0]:
link = "http://files.grouplens.org/datasets/movielens/ml-100k/u.data?downloadformat=csv"

In [0]:
u_data = pd.read_csv(link,sep="\t",engine='python', header=None, names=['user_id', 'item_id', 'rating','timestamp'])

In [4]:
u_data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [0]:
link2 = "http://files.grouplens.org/datasets/movielens/ml-100k/u.genre?downloadformat=csv"

In [0]:
u_genre = pd.read_csv(link2,sep="\|",engine='python', header=None, names=['genre', 'id'])

In [7]:
u_genre.head()

        genre  id
0     unknown   0
1      Action   1
2   Adventure   2
3   Animation   3
4  Children's   4

In [0]:
u_genre.drop(u_genre.columns[1], axis=1, inplace=True)

In [9]:
u_genre.head()

        genre
0     unknown
1      Action
2   Adventure
3   Animation
4  Children's

In [0]:
link3 = "http://files.grouplens.org/datasets/movielens/ml-100k/u.info?downloadformat=csv"

In [0]:
u_info = pd.read_csv(link3,sep="\ ",engine='python', header=None, names=['number', 'info'])

In [12]:
u_info.head()

   number     info
0     943    users
1    1682    items
2  100000  ratings

In [0]:
link4 = "http://files.grouplens.org/datasets/movielens/ml-100k/u.item?downloadformat=csv"

In [0]:
u_item = pd.read_csv(link4,sep="\|",engine='python', encoding='latin-1', header=None, names=['movie_id','movie_title', 'release_date', 'n' ,'IMDb_URL',  'unknown', 'Action', 'Adventure', 'Animation', 'Children_s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film_Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci_Fi', 'Thriller', 'War', 'Western'])

In [139]:
u_item.head()

   movie_id        movie_title release_date   n  ... Sci_Fi  Thriller  War  Western
0         1   Toy Story (1995)  01-Jan-1995 NaN  ...      0         0    0        0
1         2   GoldenEye (1995)  01-Jan-1995 NaN  ...      0         1    0        0
2         3  Four Rooms (1995)  01-Jan-1995 NaN  ...      0         1    0        0
3         4  Get Shorty (1995)  01-Jan-1995 NaN  ...      0         0    0        0
4         5     Copycat (1995)  01-Jan-1995 NaN  ...      0         1    0        0

[5 rows x 24 columns]

In [0]:
u_item.drop(u_item.columns[3], axis=1, inplace=True)

In [141]:
u_item.head()

   movie_id        movie_title release_date  ... Thriller  War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...        0    0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...        1    0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...        1    0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...        0    0        0
4         5     Copycat (1995)  01-Jan-1995  ...        1    0        0

[5 rows x 23 columns]

In [0]:
link5 = "http://files.grouplens.org/datasets/movielens/ml-100k/u.occupation?downloadformat=csv"

In [0]:
u_occupation = pd.read_csv(link5, header=None, names=['occupations'])

In [20]:
u_occupation.head()

     occupations
0  administrator
1         artist
2         doctor
3       educator
4       engineer

Посчитайте среднюю оценку, которую поставил каждый пользователь

In [22]:
u_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user_id      100000 non-null int64
item_id      100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB

In [85]:
u_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 23 columns):
movie id        1682 non-null int64
movie_title     1682 non-null object
release_date    1681 non-null object
IMDb_URL        1679 non-null object
unknown         1682 non-null int64
Action          1682 non-null int64
Adventure       1682 non-null int64
Animation       1682 non-null int64
Children_s      1682 non-null int64
Comedy          1682 non-null int64
Crime           1682 non-null int64
Documentary     1682 non-null int64
Drama           1682 non-null int64
Fantasy         1682 non-null int64
Film_Noir       1682 non-null int64
Horror          1682 non-null int64
Musical         1682 non-null int64
Mystery         1682 non-null int64
Romance         1682 non-null int64
Sci_Fi          1682 non-null int64
Thriller        1682 non-null int64
War             1682 non-null int64
Western         1682 non-null int64
dtypes: int64(20), object(3)
memory usage: 302.3+ KB

In [24]:
user_id_rating=u_data.groupby('user_id')['rating'].mean()
user_id_rating.head()

user_id
1    3.610294
2    3.709677
3    2.796296
4    4.333333
5    2.874286
Name: rating, dtype: float64

Отсортируйте фильмы по количеству оценок

In [25]:
u_data.groupby('item_id')['item_id'].count().sort_values(ascending=False).head(10)

item_id
50     583
258    509
100    508
181    507
294    485
286    481
288    478
1      452
300    431
121    429
Name: item_id, dtype: int64

Средствами pandasa соедините данные по оценкам с данными по пользователям (u.user)

In [0]:
link6 = "http://files.grouplens.org/datasets/movielens/ml-100k/u.user?downloadformat=csv"

In [0]:
u_user = pd.read_csv(link6,sep="\|",engine='python', header=None, names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])

In [28]:
u_user.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [29]:
u_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB

In [30]:
u_user.groupby('gender')['gender'].count()

gender
F    273
M    670
Name: gender, dtype: int64

In [31]:
df=u_user.merge(u_data, on='user_id')
df.head(10)

   user_id  age gender  occupation zip_code  item_id  rating  timestamp
0        1   24      M  technician    85711       61       4  878542420
1        1   24      M  technician    85711      189       3  888732928
2        1   24      M  technician    85711       33       4  878542699
3        1   24      M  technician    85711      160       4  875072547
4        1   24      M  technician    85711       20       4  887431883
5        1   24      M  technician    85711      202       5  875072442
6        1   24      M  technician    85711      171       5  889751711
7        1   24      M  technician    85711      265       4  878542441
8        1   24      M  technician    85711      155       2  878542201
9        1   24      M  technician    85711      117       3  874965739

Построить модель, которая предсказывает оценку для фильма и пользователя (воспользоваться RandomForestRegressor, тк мы решаем задачу регрессии)

Уберем из df столбцы timestamp и zip_codefd

In [32]:
df=df.drop(['zip_code', 'timestamp'], axis=1)
df.head()

   user_id  age gender  occupation  item_id  rating
0        1   24      M  technician       61       4
1        1   24      M  technician      189       3
2        1   24      M  technician       33       4
3        1   24      M  technician      160       4
4        1   24      M  technician       20       4

перевести occupation в one-hot формат при помощи pandas-функции get_dummies

In [33]:
df_dum = pd.get_dummies(df, columns=['occupation'])
df_dum.head()

   user_id  age  ... occupation_technician  occupation_writer
0        1   24  ...                     1                  0
1        1   24  ...                     1                  0
2        1   24  ...                     1                  0
3        1   24  ...                     1                  0
4        1   24  ...                     1                  0

[5 rows x 26 columns]

In [34]:
coder = {'M':1, 'F':0}
df_dum.gender = df_dum.gender.map(coder)
df_dum.head()

   user_id  age  ...  occupation_technician  occupation_writer
0        1   24  ...                      1                  0
1        1   24  ...                      1                  0
2        1   24  ...                      1                  0
3        1   24  ...                      1                  0
4        1   24  ...                      1                  0

[5 rows x 26 columns]

In [0]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestRegressor

In [36]:
df_dum.columns

Index(['user_id', 'age', 'gender', 'item_id', 'rating',
       'occupation_administrator', 'occupation_artist', 'occupation_doctor',
       'occupation_educator', 'occupation_engineer',
       'occupation_entertainment', 'occupation_executive',
       'occupation_healthcare', 'occupation_homemaker', 'occupation_lawyer',
       'occupation_librarian', 'occupation_marketing', 'occupation_none',
       'occupation_other', 'occupation_programmer', 'occupation_retired',
       'occupation_salesman', 'occupation_scientist', 'occupation_student',
       'occupation_technician', 'occupation_writer'],
      dtype='object')

In [0]:
#Разделение данных на test (20%) и train (80%)
X_train, X_test, y_train, y_test = train_test_split(df_dum[['user_id', 'age', 'gender', 'item_id',
       'occupation_administrator', 'occupation_artist', 'occupation_doctor',
       'occupation_educator', 'occupation_engineer',
       'occupation_entertainment', 'occupation_executive',
       'occupation_healthcare', 'occupation_homemaker', 'occupation_lawyer',
       'occupation_librarian', 'occupation_marketing', 'occupation_none',
       'occupation_other', 'occupation_programmer', 'occupation_retired',
       'occupation_salesman', 'occupation_scientist', 'occupation_student',
       'occupation_technician', 'occupation_writer']], df_dum['rating'], train_size = .8 )

In [0]:
# Приводим данные к одному масштабу
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [39]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(80000, 25)
(20000, 25)
(80000,)
(20000,)

In [0]:
#RandomForestRegressor
regr = RandomForestRegressor(max_depth=2, random_state=0,n_estimators=100)

In [42]:

regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [0]:
from sklearn.metrics import r2_score

In [44]:
score_train = regr.score(X_train, y_train)
print(score_train)

0.04753272194510072

In [46]:

score = regr.score(X_test, y_test)
print(score)

0.047642407368392314

In [0]:
y_pred=regr.predict(X_test)

In [47]:
print(r2_score(y_test, y_pred))

0.047642407368392314

Я надеюсь, что я правильно поняла задание и нужно было предсказать рейтинг именно для пары "пользователь-фильм". То есть рейтинг, который поставил конкретный пользователь конкретному фильму. Качество модели получилось очень низким.

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz

In [50]:
!tar -xvf spark-2.4.4-bin-hadoop2.7.tgz

spark-2.4.4-bin-hadoop2.7/
spark-2.4.4-bin-hadoop2.7/R/
spark-2.4.4-bin-hadoop2.7/R/lib/
spark-2.4.4-bin-hadoop2.7/R/lib/sparkr.zip
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/INDEX
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/html/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/html/R.css
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/html/00Index.html
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/aliases.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/AnIndex
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdx
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdb
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/help/paths.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/worker/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/worker/worker.R
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/worker/daemon.R
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/tests/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/tests/testthat/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/tests/testthat/test_basic.R
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/profile/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/profile/shell.R
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/profile/general.R
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/R/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdx
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdb
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/R/SparkR
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/nsInfo.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/links.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/hsearch.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/Rd.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/features.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/Meta/package.rds
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/DESCRIPTION
spark-2.4.4-bin-hadoop2.7/R/lib/SparkR/NAMESPACE
spark-2.4.4-bin-hadoop2.7/sbin/
spark-2.4.4-bin-hadoop2.7/sbin/stop-shuffle-service.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-thriftserver.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-slave.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-shuffle-service.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-mesos-shuffle-service.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-master.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-history-server.sh
spark-2.4.4-bin-hadoop2.7/sbin/spark-config.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-thriftserver.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-slaves.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-slave.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-mesos-shuffle-service.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-mesos-dispatcher.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-master.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-history-server.sh
spark-2.4.4-bin-hadoop2.7/sbin/stop-all.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-slaves.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-mesos-dispatcher.sh
spark-2.4.4-bin-hadoop2.7/sbin/start-all.sh
spark-2.4.4-bin-hadoop2.7/sbin/spark-daemons.sh
spark-2.4.4-bin-hadoop2.7/sbin/spark-daemon.sh
spark-2.4.4-bin-hadoop2.7/sbin/slaves.sh
spark-2.4.4-bin-hadoop2.7/python/
spark-2.4.4-bin-hadoop2.7/python/dist/
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/SOURCES.txt
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/dependency_links.txt
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/top_level.txt
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/PKG-INFO
spark-2.4.4-bin-hadoop2.7/python/pyspark.egg-info/requires.txt
spark-2.4.4-bin-hadoop2.7/python/README.md
spark-2.4.4-bin-hadoop2.7/python/MANIFEST.in
spark-2.4.4-bin-hadoop2.7/python/setup.py
spark-2.4.4-bin-hadoop2.7/python/run-tests.py
spark-2.4.4-bin-hadoop2.7/python/run-tests-with-coverage
spark-2.4.4-bin-hadoop2.7/python/test_support/
spark-2.4.4-bin-hadoop2.7/python/test_support/userlibrary.py
spark-2.4.4-bin-hadoop2.7/python/test_support/userlib-0.1.zip
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/text-test.txt
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/streaming/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/streaming/text-test.txt
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/people_array_utf16le.json
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/people_array.json
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/people1.json
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/people.json
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/part-r-00007.gz.parquet
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/.part-r-00007.gz.parquet.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/part-r-00005.gz.parquet
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/.part-r-00005.gz.parquet.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00004.gz.parquet
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00002.gz.parquet
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00004.gz.parquet.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00002.gz.parquet.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/part-r-00008.gz.parquet
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/.part-r-00008.gz.parquet.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_metadata
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_common_metadata
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_SUCCESS
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/orc_partitioned/_SUCCESS
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/ages_newlines.csv
spark-2.4.4-bin-hadoop2.7/python/test_support/sql/ages.csv
spark-2.4.4-bin-hadoop2.7/python/test_support/hello/
spark-2.4.4-bin-hadoop2.7/python/test_support/hello/sub_hello/
spark-2.4.4-bin-hadoop2.7/python/test_support/hello/sub_hello/sub_hello.txt
spark-2.4.4-bin-hadoop2.7/python/test_support/hello/hello.txt
spark-2.4.4-bin-hadoop2.7/python/test_support/SimpleHTTPServer.py
spark-2.4.4-bin-hadoop2.7/python/test_coverage/
spark-2.4.4-bin-hadoop2.7/python/test_coverage/sitecustomize.py
spark-2.4.4-bin-hadoop2.7/python/test_coverage/coverage_daemon.py
spark-2.4.4-bin-hadoop2.7/python/test_coverage/conf/
spark-2.4.4-bin-hadoop2.7/python/test_coverage/conf/spark-defaults.conf
spark-2.4.4-bin-hadoop2.7/python/setup.cfg
spark-2.4.4-bin-hadoop2.7/python/run-tests
spark-2.4.4-bin-hadoop2.7/python/pyspark/
spark-2.4.4-bin-hadoop2.7/python/pyspark/python/
spark-2.4.4-bin-hadoop2.7/python/pyspark/python/pyspark/
spark-2.4.4-bin-hadoop2.7/python/pyspark/python/pyspark/shell.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/shuffle.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/serializers.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/rdd.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/profiler.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/java_gateway.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/files.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/daemon.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/context.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/conf.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/cloudpickle.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/broadcast.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/accumulators.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/worker.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/version.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/util.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/tests.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/test_serializers.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/test_broadcast.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/taskcontext.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/storagelevel.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/traceback_utils.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/tests.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/kinesis.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/kafka.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/flume.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/dstream.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/context.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/util.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/listener.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/streaming/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/status.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/statcounter.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/tests.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/streaming.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/session.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/readwriter.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/functions.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/dataframe.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/context.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/window.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/utils.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/udf.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/types.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/group.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/conf.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/column.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/catalog.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/sql/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/shell.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/resultiterable.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/rddsampler.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/util.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/tree.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/tests.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/regression.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/recommendation.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/random.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/fpm.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/feature.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/evaluation.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/clustering.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/classification.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/_statistics.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/test.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/distribution.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/stat/KernelDensity.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/linalg/
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/linalg/distributed.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/linalg/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/common.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/mllib/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/wrapper.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/util.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/tuning.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/tests.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/regression.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/recommendation.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/image.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/fpm.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/feature.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/evaluation.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/clustering.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/classification.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/stat.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/pipeline.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/param/
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/param/shared.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/param/_shared_params_code_gen.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/param/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/linalg/
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/linalg/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/common.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/base.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/ml/__init__.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/join.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/heapq3.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/find_spark_home.py
spark-2.4.4-bin-hadoop2.7/python/pyspark/_globals.py
spark-2.4.4-bin-hadoop2.7/python/pylintrc
spark-2.4.4-bin-hadoop2.7/python/lib/
spark-2.4.4-bin-hadoop2.7/python/lib/pyspark.zip
spark-2.4.4-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip
spark-2.4.4-bin-hadoop2.7/python/lib/PY4J_LICENSE.txt
spark-2.4.4-bin-hadoop2.7/python/docs/
spark-2.4.4-bin-hadoop2.7/python/docs/pyspark.streaming.rst
spark-2.4.4-bin-hadoop2.7/python/docs/pyspark.sql.rst
spark-2.4.4-bin-hadoop2.7/python/docs/epytext.py
spark-2.4.4-bin-hadoop2.7/python/docs/conf.py
spark-2.4.4-bin-hadoop2.7/python/docs/Makefile
spark-2.4.4-bin-hadoop2.7/python/docs/pyspark.rst
spark-2.4.4-bin-hadoop2.7/python/docs/pyspark.mllib.rst
spark-2.4.4-bin-hadoop2.7/python/docs/pyspark.ml.rst
spark-2.4.4-bin-hadoop2.7/python/docs/make2.bat
spark-2.4.4-bin-hadoop2.7/python/docs/make.bat
spark-2.4.4-bin-hadoop2.7/python/docs/index.rst
spark-2.4.4-bin-hadoop2.7/python/docs/_templates/
spark-2.4.4-bin-hadoop2.7/python/docs/_templates/layout.html
spark-2.4.4-bin-hadoop2.7/python/docs/_static/
spark-2.4.4-bin-hadoop2.7/python/docs/_static/pyspark.js
spark-2.4.4-bin-hadoop2.7/python/docs/_static/pyspark.css
spark-2.4.4-bin-hadoop2.7/python/.gitignore
spark-2.4.4-bin-hadoop2.7/python/.coveragerc
spark-2.4.4-bin-hadoop2.7/bin/
spark-2.4.4-bin-hadoop2.7/bin/spark-class
spark-2.4.4-bin-hadoop2.7/bin/pyspark2.cmd
spark-2.4.4-bin-hadoop2.7/bin/pyspark
spark-2.4.4-bin-hadoop2.7/bin/load-spark-env.sh
spark-2.4.4-bin-hadoop2.7/bin/load-spark-env.cmd
spark-2.4.4-bin-hadoop2.7/bin/docker-image-tool.sh
spark-2.4.4-bin-hadoop2.7/bin/sparkR2.cmd
spark-2.4.4-bin-hadoop2.7/bin/sparkR.cmd
spark-2.4.4-bin-hadoop2.7/bin/sparkR
spark-2.4.4-bin-hadoop2.7/bin/spark-submit2.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-submit.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-submit
spark-2.4.4-bin-hadoop2.7/bin/spark-sql2.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-sql.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-sql
spark-2.4.4-bin-hadoop2.7/bin/spark-shell2.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-shell.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-shell
spark-2.4.4-bin-hadoop2.7/bin/spark-class2.cmd
spark-2.4.4-bin-hadoop2.7/bin/spark-class.cmd
spark-2.4.4-bin-hadoop2.7/bin/run-example.cmd
spark-2.4.4-bin-hadoop2.7/bin/run-example
spark-2.4.4-bin-hadoop2.7/bin/pyspark.cmd
spark-2.4.4-bin-hadoop2.7/bin/find-spark-home.cmd
spark-2.4.4-bin-hadoop2.7/bin/find-spark-home
spark-2.4.4-bin-hadoop2.7/bin/beeline.cmd
spark-2.4.4-bin-hadoop2.7/bin/beeline
spark-2.4.4-bin-hadoop2.7/README.md
spark-2.4.4-bin-hadoop2.7/conf/
spark-2.4.4-bin-hadoop2.7/conf/spark-env.sh.template
spark-2.4.4-bin-hadoop2.7/conf/spark-defaults.conf.template
spark-2.4.4-bin-hadoop2.7/conf/slaves.template
spark-2.4.4-bin-hadoop2.7/conf/metrics.properties.template
spark-2.4.4-bin-hadoop2.7/conf/log4j.properties.template
spark-2.4.4-bin-hadoop2.7/conf/fairscheduler.xml.template
spark-2.4.4-bin-hadoop2.7/conf/docker.properties.template
spark-2.4.4-bin-hadoop2.7/data/
spark-2.4.4-bin-hadoop2.7/data/mllib/
spark-2.4.4-bin-hadoop2.7/data/mllib/gmm_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/als/
spark-2.4.4-bin-hadoop2.7/data/mllib/als/test.data
spark-2.4.4-bin-hadoop2.7/data/mllib/als/sample_movielens_ratings.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/streaming_kmeans_data_test.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_svm_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_multiclass_classification_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_movielens_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_linear_regression_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_libsvm_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_lda_libsvm_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_lda_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_kmeans_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_fpgrowth.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/sample_binary_classification_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/ridge-data/
spark-2.4.4-bin-hadoop2.7/data/mllib/ridge-data/lpsa.data
spark-2.4.4-bin-hadoop2.7/data/mllib/pic_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/pagerank_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/kmeans_data.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/iris_libsvm.txt
spark-2.4.4-bin-hadoop2.7/data/mllib/images/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/grayscale.jpg
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/chr30.4.184.jpg
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA_alpha_60.png
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA.png
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP802813.jpg
spark-2.4.4-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP153539.jpg

In [0]:
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
u_data.to_csv(r'u_data.csv', index = None, header=True)

In [0]:
u_genre.to_csv(r'u_genre.csv', index = None, header=True)

In [0]:
u_info.to_csv(r'u_info.csv', index = None, header=True)

In [0]:
u_item.to_csv(r'u_item.csv', index = None, header=True)

In [0]:
u_occupation.to_csv(r'u_occupation.csv', index = None, header=True)

In [0]:
u_user.to_csv(r'u_user.csv', index = None, header=True)

In [0]:
u_data_spark = spark.read.csv('u_data.csv', inferSchema=True, header=True)

In [61]:
u_data_spark.show(5)

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
+-------+-------+------+---------+
only showing top 5 rows

In [0]:
u_info_spark = spark.read.csv('u_info.csv', inferSchema=True, header=True)

In [63]:
u_info_spark.show(5)

+------+-------+
|number|   info|
+------+-------+
|   943|  users|
|  1682|  items|
|100000|ratings|
+------+-------+

In [0]:
u_item_spark = spark.read.csv('u_item.csv', inferSchema=True, header=True)

In [144]:
u_item_spark.show(5)

+--------+-----------------+------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie_id|      movie_title|release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Children_s|Comedy|Crime|Documentary|Drama|Fantasy|Film_Noir|Horror|Musical|Mystery|Romance|Sci_Fi|Thriller|War|Western|
+--------+-----------------+------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|       1| Toy Story (1995)| 01-Jan-1995|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       2| GoldenEye (1995)| 01-Jan-1995|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       3|Four Rooms (1995)| 01-Jan-1995|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       4|Get Shorty (1995)| 01-Jan-1995|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       5|   Copycat (1995)| 01-Jan-1995|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
+--------+-----------------+------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 5 rows

In [0]:
u_occupation_spark = spark.read.csv('u_occupation.csv', inferSchema=True, header=True)

In [68]:
u_occupation_spark.show(5)

+-------------+
|  occupations|
+-------------+
|administrator|
|       artist|
|       doctor|
|     educator|
|     engineer|
+-------------+
only showing top 5 rows

In [0]:
u_user_spark = spark.read.csv('u_user.csv', inferSchema=True, header=True)

In [70]:
u_user_spark.show(5)

+-------+---+------+----------+--------+
|user_id|age|gender|occupation|zip_code|
+-------+---+------+----------+--------+
|      1| 24|     M|technician|   85711|
|      2| 53|     F|     other|   94043|
|      3| 23|     M|    writer|   32067|
|      4| 24|     M|technician|   43537|
|      5| 33|     F|     other|   15213|
+-------+---+------+----------+--------+
only showing top 5 rows

In [0]:
u_genre_spark = spark.read.csv('u_genre.csv', inferSchema=True, header=True)

In [72]:
u_genre_spark.show(5)

+----------+
|     genre|
+----------+
|   unknown|
|    Action|
| Adventure|
| Animation|
|Children's|
+----------+
only showing top 5 rows

Средствами спарка вывести среднюю оценку для каждого фильма

In [73]:
u_data_spark.groupby('item_id').avg('rating').show()

+-------+------------------+
|item_id|       avg(rating)|
+-------+------------------+
|    496| 4.121212121212121|
|    471|3.6108597285067874|
|    463| 3.859154929577465|
|    148|          3.203125|
|   1342|               2.5|
|    833| 3.204081632653061|
|   1088| 2.230769230769231|
|   1591|3.1666666666666665|
|   1238|             3.125|
|   1580|               1.0|
|   1645|               4.0|
|    392|3.5441176470588234|
|    623| 2.923076923076923|
|    540| 2.511627906976744|
|    858|               1.0|
|    737| 2.983050847457627|
|    243|2.4393939393939394|
|   1025|2.9318181818181817|
|   1084| 3.857142857142857|
|   1127| 2.909090909090909|
+-------+------------------+
only showing top 20 rows

В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами (по количеству оценок, либо по самой оценке - на Ваш выбор)

In [0]:
from pyspark.sql import functions as F

In [76]:
ratings_with_avg = u_data_spark.groupBy('item_id').agg(F.count(u_data_spark.rating).alias('count'), F.avg(u_data_spark.rating).alias('avg'))
ratings_with_avg.show(5)

+-------+-----+------------------+
|item_id|count|               avg|
+-------+-----+------------------+
|    496|  231| 4.121212121212121|
|    471|  221|3.6108597285067874|
|    463|   71| 3.859154929577465|
|    148|  128|          3.203125|
|   1342|    2|               2.5|
+-------+-----+------------------+
only showing top 5 rows

In [99]:
movies_with_avg = ratings_with_avg.join(u_item_spark, ratings_with_avg.item_id==u_item_spark.movie_id).select('movie_id', 'movie_title', 'count', 'avg')
movies_with_avg.show(5)

+--------+--------------------+-----+------------------+
|movie_id|         movie_title|count|               avg|
+--------+--------------------+-----+------------------+
|     496|It's a Wonderful ...|  231| 4.121212121212121|
|     471|Courage Under Fir...|  221|3.6108597285067874|
|     463|Secret of Roan In...|   71| 3.859154929577465|
|     148|Ghost and the Dar...|  128|          3.203125|
|    1342|Convent, The (Con...|    2|               2.5|
+--------+--------------------+-----+------------------+
only showing top 5 rows

In [106]:
top_5_movies=movies_with_avg.sort(F.col("count").desc(),F.col("avg").desc())
top_5_movies.show(5)

+--------+--------------------+-----+------------------+
|movie_id|         movie_title|count|               avg|
+--------+--------------------+-----+------------------+
|      50|    Star Wars (1977)|  583|4.3584905660377355|
|     258|      Contact (1997)|  509|3.8035363457760316|
|     100|        Fargo (1996)|  508| 4.155511811023622|
|     181|Return of the Jed...|  507| 4.007889546351085|
|     294|    Liar Liar (1997)|  485| 3.156701030927835|
+--------+--------------------+-----+------------------+
only showing top 5 rows

In [107]:
low_pop_5_movies=movies_with_avg.sort(F.col("count").asc(),F.col("avg").asc())
low_pop_5_movies.show(5)

+--------+--------------------+-----+---+
|movie_id|         movie_title|count|avg|
+--------+--------------------+-----+---+
|    1561|Tigrero: A Film T...|    1|1.0|
|    1352|Shadow of Angels ...|    1|1.0|
|    1618|King of New York ...|    1|1.0|
|    1339|Stefano Quantesto...|    1|1.0|
|    1580|     Liebelei (1933)|    1|1.0|
+--------+--------------------+-----+---+
only showing top 5 rows

Средствами спарка соедините информацию по фильмам и жанрам (u.genre)
 Дублирование строк в данном случае - ок.
Интересует такая структура - id фильма | название фильма | жанр

Я решила не соединять таблицы, а попробовать использовать принцип tidy data. Сделать в spark из широкой таблицы u_item_spark, в которой были жанры, узкую таблицу с названиями и жанрами

In [145]:
unPivotDF = u_item_spark.selectExpr("movie_id","movie_title","stack(19,'unknown', unknown,'Action', Action,\
'Adventure', Adventure, 'Animation', Animation, 'Children_s', Children_s, 'Comedy', Comedy,'Crime', Crime,'Documentary', Documentary,\
'Drama',Drama, 'Film_Noir', Film_Noir,'Horror', Horror, 'Musical', Musical, 'Mystery', Mystery, 'Romance', Romance, 'Sci_Fi', Sci_Fi,\
'Thriller', Thriller, 'War', War, 'Western', Western) as (genre,Total)")\
.where("Total!=0")
unPivotDF.show(100)

+--------+--------------------+-----------+-----+
|movie_id|         movie_title|      genre|Total|
+--------+--------------------+-----------+-----+
|       1|    Toy Story (1995)|  Animation|    1|
|       1|    Toy Story (1995)| Children_s|    1|
|       1|    Toy Story (1995)|     Comedy|    1|
|       2|    GoldenEye (1995)|     Action|    1|
|       2|    GoldenEye (1995)|  Adventure|    1|
|       2|    GoldenEye (1995)|   Thriller|    1|
|       3|   Four Rooms (1995)|   Thriller|    1|
|       4|   Get Shorty (1995)|     Action|    1|
|       4|   Get Shorty (1995)|     Comedy|    1|
|       4|   Get Shorty (1995)|      Drama|    1|
|       5|      Copycat (1995)|      Crime|    1|
|       5|      Copycat (1995)|      Drama|    1|
|       5|      Copycat (1995)|   Thriller|    1|
|       6|Shanghai Triad (Y...|      Drama|    1|
|       7|Twelve Monkeys (1...|      Drama|    1|
|       7|Twelve Monkeys (1...|     Sci_Fi|    1|
|       8|         Babe (1995)| Children_s|    1|
|       8|         Babe (1995)|     Comedy|    1|
|       8|         Babe (1995)|      Drama|    1|
|       9|Dead Man Walking ...|      Drama|    1|
|      10|  Richard III (1995)|      Drama|    1|
|      10|  Richard III (1995)|        War|    1|
|      11|Seven (Se7en) (1995)|      Crime|    1|
|      11|Seven (Se7en) (1995)|   Thriller|    1|
|      12|Usual Suspects, T...|      Crime|    1|
|      12|Usual Suspects, T...|   Thriller|    1|
|      13|Mighty Aphrodite ...|     Comedy|    1|
|      14|  Postino, Il (1994)|      Drama|    1|
|      14|  Postino, Il (1994)|    Romance|    1|
|      15|Mr. Holland's Opu...|      Drama|    1|
|      16|French Twist (Gaz...|     Comedy|    1|
|      16|French Twist (Gaz...|    Romance|    1|
|      17|From Dusk Till Da...|     Action|    1|
|      17|From Dusk Till Da...|     Comedy|    1|
|      17|From Dusk Till Da...|      Crime|    1|
|      17|From Dusk Till Da...|     Horror|    1|
|      17|From Dusk Till Da...|   Thriller|    1|
|      18|White Balloon, Th...|      Drama|    1|
|      19|Antonia's Line (1...|      Drama|    1|
|      20|Angels and Insect...|      Drama|    1|
|      20|Angels and Insect...|    Romance|    1|
|      21|Muppet Treasure I...|     Action|    1|
|      21|Muppet Treasure I...|  Adventure|    1|
|      21|Muppet Treasure I...|     Comedy|    1|
|      21|Muppet Treasure I...|    Musical|    1|
|      21|Muppet Treasure I...|   Thriller|    1|
|      22|   Braveheart (1995)|     Action|    1|
|      22|   Braveheart (1995)|      Drama|    1|
|      22|   Braveheart (1995)|        War|    1|
|      23|  Taxi Driver (1976)|      Drama|    1|
|      23|  Taxi Driver (1976)|   Thriller|    1|
|      24|Rumble in the Bro...|     Action|    1|
|      24|Rumble in the Bro...|  Adventure|    1|
|      24|Rumble in the Bro...|      Crime|    1|
|      25|Birdcage, The (1996)|     Comedy|    1|
|      26|Brothers McMullen...|     Comedy|    1|
|      27|     Bad Boys (1995)|     Action|    1|
|      28|    Apollo 13 (1995)|     Action|    1|
|      28|    Apollo 13 (1995)|      Drama|    1|
|      28|    Apollo 13 (1995)|   Thriller|    1|
|      29|Batman Forever (1...|     Action|    1|
|      29|Batman Forever (1...|  Adventure|    1|
|      29|Batman Forever (1...|     Comedy|    1|
|      29|Batman Forever (1...|      Crime|    1|
|      30|Belle de jour (1967)|      Drama|    1|
|      31| Crimson Tide (1995)|      Drama|    1|
|      31| Crimson Tide (1995)|   Thriller|    1|
|      31| Crimson Tide (1995)|        War|    1|
|      32|        Crumb (1994)|Documentary|    1|
|      33|    Desperado (1995)|     Action|    1|
|      33|    Desperado (1995)|    Romance|    1|
|      33|    Desperado (1995)|   Thriller|    1|
|      34|Doom Generation, ...|     Comedy|    1|
|      34|Doom Generation, ...|      Drama|    1|
|      35|Free Willy 2: The...|  Adventure|    1|
|      35|Free Willy 2: The...| Children_s|    1|
|      35|Free Willy 2: The...|      Drama|    1|
|      36|     Mad Love (1995)|      Drama|    1|
|      36|     Mad Love (1995)|    Romance|    1|
|      37|        Nadja (1994)|      Drama|    1|
|      38|     Net, The (1995)|     Sci_Fi|    1|
|      38|     Net, The (1995)|   Thriller|    1|
|      39| Strange Days (1995)|     Action|    1|
|      39| Strange Days (1995)|      Crime|    1|
|      39| Strange Days (1995)|     Sci_Fi|    1|
|      40|To Wong Foo, Than...|     Comedy|    1|
|      41|Billy Madison (1995)|     Comedy|    1|
|      42|       Clerks (1994)|     Comedy|    1|
|      43|   Disclosure (1994)|      Drama|    1|
|      43|   Disclosure (1994)|   Thriller|    1|
|      44|Dolores Claiborne...|      Drama|    1|
|      44|Dolores Claiborne...|   Thriller|    1|
|      45|Eat Drink Man Wom...|     Comedy|    1|
|      45|Eat Drink Man Wom...|      Drama|    1|
|      46|      Exotica (1994)|      Drama|    1|
|      47|      Ed Wood (1994)|     Comedy|    1|
|      47|      Ed Wood (1994)|      Drama|    1|
|      48|  Hoop Dreams (1994)|Documentary|    1|
|      49|         I.Q. (1994)|     Comedy|    1|
|      49|         I.Q. (1994)|    Romance|    1|
+--------+--------------------+-----------+-----+
only showing top 100 rows

Посчитайте средствами спарка среднюю оценку для каждого жанра

In [149]:
ratings_with_genre=ratings_with_avg.join(unPivotDF, ratings_with_avg.item_id==unPivotDF.movie_id).select('movie_id','genre', 'avg')
ratings_with_genre.show(5)

+--------+---------+------------------+
|movie_id|    genre|               avg|
+--------+---------+------------------+
|     496|    Drama| 4.121212121212121|
|     471|      War|3.6108597285067874|
|     471|    Drama|3.6108597285067874|
|     463|Adventure| 3.859154929577465|
|     148|Adventure|          3.203125|
+--------+---------+------------------+
only showing top 5 rows

In [152]:
ratings_with_genre.groupBy('genre').agg( F.avg(ratings_with_genre.avg).alias('avg')).show()

+-----------+------------------+
|      genre|               avg|
+-----------+------------------+
|      Crime| 3.211014749599754|
|    Romance|3.2440490301647995|
|   Thriller|3.1366924755638337|
|  Adventure|3.1439673136976114|
|    unknown|2.2222222222222223|
|      Drama|3.1873534142973323|
|        War|3.4891854289435704|
|Documentary| 3.229273094093941|
|  Film_Noir|3.5483508757184246|
|     Sci_Fi|3.1654460532512894|
|    Mystery|3.3368139323830235|
|    Musical| 3.376423123539873|
|  Animation| 3.298813080382377|
| Children_s| 2.916884891868899|
|     Horror|2.7301573529961387|
|    Western| 3.185617473056144|
|     Comedy| 3.000564961840673|
|     Action| 2.966332403758986|
+-----------+------------------+